:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: rgba(255,193,7,1);
    --secundario: #033136;
    --gris: #757575;
    --edit: #ad7d7d;
}
html {
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-size: 16px;
    font-family: 'Krub', sans-serif;
    background-image: linear-gradient(to top, #92b5d8 0%, var(--primario) 90% );
}
.lista {
    text-align: left;
}
a {
    color: var(--primario);
} 

.titulo {
    text-align: center;
    font-size: 3.8rem;
}
h1 {
    font-size: 3.8rem;
}    
h2 {
    font-size: 2.8rem;
    }
h3 {
    font-size: 1.8rem;

    }
h1,h2,h3 {
    text-align: center;
}
.titulo span {
    font-size: 2rem;
    
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.navegacion-principal a:hover {
    
    text-align: center;
    color: var(--blanco);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    
}
.navegacion-principal  {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media ( min-width: 768px){
    .navegacion-principal { 
        flex-direction: row;
} 
}

.sombra {
    -webkit-box-shadow: 0px 6px 40px -1px rgba(153,38,153,1);
-moz-box-shadow: 0px 6px 40px -1px rgba(153,38,153,1);
box-shadow: 0px 6px 40px -1px rgba(153,38,153,1);
padding: 2rem;
border-radius: 1rem;
}

 .boton {
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    text-transform:uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
 }
 @media (min-width: 480px){
    .boton {
        width: auto;
    }
 }
.nav-bg {
    background-color: var(--secundario);
}

.hero {
    background-image: url(./img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    position: relative;
    margin-bottom: 2rem;
}
.contenido-hero {
    
    position: absolute;
    background-color: rgb(0,0,0, .7);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenido-hero h2, .contenido-hero p {
    color: var(--blanco);
}

@media (min-width:768px) {
    .servicios {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
        column-gap: 1.3rem;
        
    
    }
}
.boton:hover {
    pointer-events: stroke;
}

.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
        color: var(--secundario);
        font-weight: normal;

}
.servicio p {
    line-height: 2;
}
.servicio .iconos {
        height: 15rem;
        width: 15rem;
        background-color: var(--primario);
        border-radius: 50%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

}
.contacto {
    background-color: var(--gris);
    width: min(60rem, 100%); /* utilizar el valor mas pequeño */
    margin: 0 auto; /* se centra porque no tiene display flex*/
    padding: 2rem;
    border-radius: 1rem;

}

.contacto fieldset {
    border: none;
}
.contacto legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    

.contenedor-campos {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 1rem;
    grid-template-rows: auto auto 20rem;
    
}
}
.campos:nth-child(3),
.campos:nth-child(4) {
    grid-column: 1 / 3;
}
.campos { 
    margin-bottom: 1rem;

}

.campos label {
color: var(--blanco);
font-weight: bold;
margin-bottom: .5rem;
display: block;
}


.footer {
    text-align: center;
}
